default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo fmt
        description: "Format Rust code."
        entry: cargo fmt -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-check
        name: Cargo check
        description: "Check Rust code for errors."
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: Cargo clippy
        description: "Lint Rust code."
        entry: cargo clippy -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint
        args: ["--no-schema"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/adhtruong/mirrors-typos
    rev: v1.39.0
    hooks:
      - id: typos
        args: ["--force-exclude"]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        additional_dependencies: ["@commitlint/config-conventional"]
        stages: [commit-msg]
